* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --lightgray: #334155;
  --gray: #182134;
  --darkgray: #0d1424;
  --green: rgb(0, 220, 130);
  --green-rgb: 0, 220, 130;
  --white-text: #dce3eb;
  --green-outline: #024b41;
  --dark-green: #021b2a;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(2, 50, 53);
  background: linear-gradient(
    180deg,
    rgba(2, 50, 53, 1) 0%,
    rgba(6, 10, 35, 1) 22%,
    rgba(6, 10, 35, 1) 96%,
    rgba(14, 21, 41, 1) 100%
  );
  color: var(--white-text);
}

main {
  margin-block: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.note-list {
  margin: auto;
  width: 100%;
  max-width: 80rem;
}
